<div class="post">
  <div *ngIf="post?.ImgUrl" class="header">
    <img class="fit-picture" src="{{ post.ImgUrl }}" alt="Sorry! Image not available at this time">
  </div>
  <div class="content" [innerHTML]="post.Content | safeHtml"></div>
  <div class="footer">
    <i>likes : {{ likeCount }}</i>
    <i *ngIf="!licked" class="add-like" (click)="like()" pTooltip="Like the post" tooltipPosition="top"></i>
    <i *ngIf="licked" class="remove-like" (click)="unlike()" pTooltip="Remove your like" tooltipPosition="top"></i>
  </div>
</div>