
<div class="p-grid header">
  <!-- header content -->
  <div class="p-grid p-col right">
    <!-- right header content -->
  </div>
  <div class="p-grid p-col left">
    <!-- left header content -->
    <div class="menu-icon">
      <a role="button" tabindex="0">
        <i class="pi pi-ellipsis-h" style="font-size: 1.5em"></i>
      </a>
    </div>
    <div class="menu-sep"></div>
    <div class="user-icon">
      <a role="button" tabindex="0" aria-expanded="false" aria-label="test">
        <img class="" src="../../../assets/images/unnamed.jpg">
      </a>
    </div>
  </div>
</div>
