
<div class="p-grid header">
  <!-- header content -->
  <div class="p-grid p-col right">
    <!-- right header content -->
  </div>
  <div class="p-grid p-col left">
    <!-- left header content -->
    <div class="menu-icon">
      <a role="button" tabindex="0">
        <i class="pi pi-ellipsis-h" style="font-size: 1.5em"></i>
      </a>
    </div>
    <div class="menu-sep"></div>
    <div class="user-icon">
      <!--
      <a role="button" tabindex="0" aria-expanded="false" aria-label="test" (click)="showSignInDialog()">
        <img class="" src="../../../assets/images/unnamed.jpg">
      </a>
      -->
      <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>

    </div>

  </div>
</div>

<p-dialog 
  position="top-right"
  header="Login"
  [(visible)]="signInDisplay"
  [draggable]="false">
  <app-sign-in></app-sign-in>
</p-dialog>